# Libraries

In [1]:
import numpy as np
import pandas as pd

# Data import

In [54]:
data = pd.read_csv("./data/wina.pl_raw.csv")
data.head(1)

,name,link,price,kraj,region,apelacja,winnica,rodzaj wina,smak,styl,...,rocznik3,temperatura podawania2,wino koszerne,region2,ilość win,grona9,grona10,grona11,grona12,grona13
0,"1,5 L Szampan Moet & Chandon Brut Imperial Mag...",https://www.wina.pl/szampany/3056-15-l-szampan...,"666,00 zł",Francja,Szampania,Champagne AOC,Moet & Chandon,szampan,wytrawne,średnie,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Print basic informations about columns

In [55]:
data[sorted(data.columns)].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2251 entries, 0 to 2250
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   alkohol zawartość       3 non-null      object
 1   apelacja                1650 non-null   object
 2   bio                     675 non-null    object
 3   bio2                    129 non-null    object
 4   bio3                    34 non-null     object
 5   czy winnica bio         520 non-null    object
 6   falstaff                84 non-null     object
 7   grona                   2197 non-null   object
 8   grona10                 1 non-null      object
 9   grona11                 1 non-null      object
 10  grona12                 1 non-null      object
 11  grona13                 1 non-null      object
 12  grona2                  607 non-null    object
 13  grona3                  331 non-null    object
 14  grona4                  94 non-null     object
 15  grona5                  28 non-null     object
 16  grona6                  9 non-null      object
 17  grona7                  4 non-null      object
 18  grona8                  2 non-null      object
 19  grona9                  1 non-null      object
 20  guia penin              30 non-null     object
 21  ilość win               2 non-null      float64
 22  james suckling          73 non-null     object
 23  kraj                    2242 non-null   object
 24  link                    2251 non-null   object
 25  medale                  162 non-null    object
 26  medale2                 29 non-null     object
 27  medale3                 7 non-null      object
 28  name                    2251 non-null   object
 29  objętość                4 non-null      object
 30  oceny prasy             173 non-null    object
 31  pojemność               2178 non-null   object
 32  price                   2251 non-null   object
 33  producent               7 non-null      object
 34  region                  2079 non-null   object
 35  region2                 5 non-null      object
 36  rocznik                 2030 non-null   object
 37  rocznik2                15 non-null     float64
 38  rocznik3                1 non-null      float64
 39  rodzaj wina             2216 non-null   object
 40  rodzaj wina2            38 non-null     object
 41  smak                    2197 non-null   object
 42  styl                    1808 non-null   object
 43  temperatura podawania   1779 non-null   object
 44  temperatura podawania2  1 non-null      object
 45  wine spectator          87 non-null     object
 46  winnica                 1231 non-null   object
 47  wino koszerne           2 non-null      object
 48  wino wegańskie          256 non-null    object
 49  wysyłka w ciągu         2127 non-null   object
 50  zawartość alkoholu      1722 non-null   object
 51  zawartość alkoholu2     2 non-null      object
dtypes: float64(3), object(49)
memory usage: 914.6+ KB

# Remove products which is not wines

To remove: `idxs = [460, 462]`

In [56]:
data = data[~(data['name'] == 'Chateau ISH Sparkling Rose w puszce (bezalkoholowe)')]
data = data[~(data['name'] == 'Chateau ISH Sparkling White w puszce (bezalkoholowe)')]
data = data[data['ilość win'].isnull()]
data.reset_index(inplace=True, drop=True)

# Remove unnecessary columns

In [57]:
data.drop(['ilość win', 'wino koszerne', 'producent', 'wysyłka w ciągu', 'temperatura podawania2'], axis=1, inplace=True)

# Name

Related columns: `name`

Units in product name: `['ml', 'Ml', 'ML', 'l', 'L', 'litrów', 'NV']`

In [ ]:
def is_number(text: str) -> bool:
    '''Check if text contain a number.'''
    for digit in [str(i) for i in range(10)]:
        if digit in text:
            return True
    return False

def is_unit(text: str) -> bool:
    if text in ['ml', 'Ml', 'ML', 'l', 'L', 'litrów', 'NV']:
        return True
    return False

def convert_name(name: str) -> str:
    words = []
    for word in name.split():
        if is_number(word):
            continue

        if is_unit(word):
            continue

        words.append(word)
    
    return " ".join(words)

data['name'] = data["name"].transform(convert_name)

# Price

Related columns: `price`

Watch out for \xa0 sign!

In [60]:
def convert_price(price:str) -> float:
    price = price.rstrip(" zł")
    price = price.replace(",", ".").replace(" ", "").replace(u"\xa0", "")
    return float(price)

data["price"] = data["price"].transform(convert_price)

# Region

Related columns: `region`, `region2`

In [61]:
def concat_region(row:pd.Series) -> pd.Series:
    if (not pd.isna(row["region"])) and (not pd.isna(row["region2"])):
        row["region"] += ", " + row["region2"]
    return row

data = data.transform(concat_region, axis=1)

# Vintage

Related columns: `rocznik`, `rocznik2`, `rocznik3`

In [62]:
data[(data['rocznik2'].notnull()) | (data['rocznik3'].notnull())][["rocznik", "rocznik2", "rocznik3"]]

     rocznik rocznik2 rocznik3
1         NV   2017.0      NaN
273     2018   2017.0      NaN
376     2017   2018.0      NaN
386     2021   2019.0      NaN
556     2021   2022.0      NaN
610     2020   2019.0   2017.0
719     2020   2021.0      NaN
1076    2018   2017.0      NaN
1084    2022   2020.0      NaN
1108    2019   2020.0      NaN
1232    2022   2021.0      NaN
1396    2018   2017.0      NaN
1493    2017   2018.0      NaN
1684    2016   2020.0      NaN
2158    2018   2017.0      NaN

In [63]:
data['rocznik'] = data['rocznik'].replace('NV', np.nan)

def choose_largest_vintage(row:pd.Series) -> pd.Series:
    vintages = []
    for vintage in row[["rocznik", "rocznik2", "rocznik3"]].to_list():
        try:
            vintage = int(vintage)
        except:
            continue
        vintages.append(vintage)
    
    row["rocznik"] = np.nan if vintages == [] else max(vintages)

    return row

data = data.transform(choose_largest_vintage, axis=1)
data.drop(['rocznik2', 'rocznik3'], axis=1, inplace=True)

# Volume

Related columns: `objętość`, `pojemność`

In [64]:
def fill_empty_volume(row:pd.Series) -> pd.Series:
    if not pd.isna(row["objętość"]) and pd.isna(row["pojemność"]):
        row["pojemność"] = row["objętość"]
    return row

data = data.transform(fill_empty_volume, axis=1)
data.drop(["objętość"], axis=1, inplace=True)

def convert_volume(volume:str) -> float:
    if not pd.isna(volume):
        volume, unit = volume.split()
        volume = volume.replace(",", ".")
        if unit == "ml":
            volume = float(volume) / 1000
        elif unit == "L":
            volume = float(volume)
    return volume

data['pojemność (litry)'] = data['pojemność'].transform(convert_volume)
data.drop(["pojemność"], axis=1, inplace=True)

# Alcohol

Related columns: `alkohol zawartość`, `zawartość alkoholu2`, `zawartość alkoholu`

In [71]:
def fill_empty_alcohol(row:pd.Series) -> pd.Series:
    if not pd.isna(row["alkohol zawartość"]) and pd.isna(row["zawartość alkoholu"]):
        row["zawartość alkoholu"] = row["alkohol zawartość"]
    return row

data = data.transform(fill_empty_alcohol, axis=1)
data.drop(["alkohol zawartość", "zawartość alkoholu2"], axis=1, inplace=True)

def convert_alcohol(alcohol:str) -> float:
    if pd.isna(alcohol):
        return alcohol
    
    alcohol = alcohol.rstrip("%").rstrip(" ").replace(",", ".")
    return float(alcohol)

data["zawartość alkoholu"] = data["zawartość alkoholu"].transform(convert_alcohol)

# Serving temperature

Related columns: `temperatura podawania`

In [75]:
def convert_temperature(temp:str) -> str:
    if pd.isnull(temp):
        return temp
    return temp.rstrip(" st.C")

data['temperatura podawania'] = data['temperatura podawania'].transform(convert_temperature)

# Color and kind

Related columns: `rodzaj wina`, `rodzaj wina2`

In [ ]:
color = ['białe', 'czerwone', 'różowe', 'pomarańczowe']
kind = ['szampan', 'musujące', 'sherry', 'porto']

kolor = []
rodzaj = []

for rodzaj1, rodzaj2 in zip(data['rodzaj wina'], data['rodzaj wina2']):
    if rodzaj1 in color:
        kolor.append(rodzaj1)
    elif rodzaj2 in color:
        kolor.append(rodzaj2)
    else:
        kolor.append(np.nan)

    if rodzaj1 in kind:
        rodzaj.append(rodzaj1)
    elif rodzaj2 in kind:
        rodzaj.append(rodzaj2)
    else:
        rodzaj.append(np.nan)

data[['color', 'kind']] = pd.DataFrame({
    'color': kolor,
    'kind': rodzaj
})
data.drop(['rodzaj wina', 'rodzaj wina2'], axis=1, inplace=True)

# Medals

Related columns: `medale`, `medale2`, `medale3`

In [82]:
cols = ['medale', 'medale2', 'medale3']

medals = []

for row in range(len(data)):
    medal = ''
    for value in data.loc[row, cols]:
        if pd.isnull(value):
            break

        medal += value + ', '

    if medal == '':
        medals.append(np.nan)
    else:
        medals.append(medal[:-2])
    
data['medals'] = pd.DataFrame({'medals': medals})
data.drop(cols, axis=1, inplace=True)

# Wegan and Natural

Related columns: `bio`, `bio2`, `bio3`, `czy winnica bio`, `wino wegańskie`

In [83]:
wegan = []
natural = []

for bio, bio2, bio3, isBio, isWegan in zip(data['bio'], data['bio2'], data['bio3'], data['czy winnica bio'], data['wino wegańskie']):
    if bio == 'weganskie' or \
       bio2 == 'weganskie' or \
       bio3 == 'weganskie' or \
       isWegan == 'tak':
        wegan.append(True)
    else:
        wegan.append(False)

    if (bio in ['organiczne', 'naturalne']) or \
       (bio2 in ['organiczne', 'naturalne']) or \
       (bio3 in ['organiczne', 'naturalne']) or \
       isBio == 'tak – uprawa ograniczna/naturalna':
        natural.append(True)
    else:
        natural.append(False)

bio = pd.DataFrame({
    'wegan': wegan,
    'natural': natural
})

data = pd.concat([data, bio], axis=1)
data.drop(['bio', 'bio2', 'bio3', 'czy winnica bio', 'wino wegańskie'], axis=1, inplace=True)

# Punctation

Related columns: `guia penin`, `falstaff`, `james suckling`, `oceny prasy`, `wine spectator`

In [84]:
punctation = []

for i in range(len(data)):
    points = []

    if not pd.isnull(data.loc[i, 'guia penin']):
        points.append(int(data.loc[i, 'guia penin'][:2]))

    if not pd.isnull(data.loc[i, 'falstaff']):
        points.append(int(data.loc[i, 'falstaff'][-3:]))

    if not pd.isnull(data.loc[i, 'james suckling']):
        points.append(int(data.loc[i, 'james suckling'][:2]))

    if not pd.isnull(data.loc[i, 'oceny prasy']):
        points.append(int(data.loc[i, 'oceny prasy'][-3:]))

    if not pd.isnull(data.loc[i, 'wine spectator']):
        points.append(int(data.loc[i, 'wine spectator'][:2]))

    if len(points) > 0:
        punctation.append(np.mean(points))
    else:
        punctation.append(np.nan)

data['punctation'] = pd.Series(punctation).astype('float32')
data.drop(['guia penin', 'falstaff', 'james suckling', 'oceny prasy', 'wine spectator'], axis=1, inplace=True)

# Grapes

Related columns: `grona`, `grona[2-13]`

In [85]:
cols = ['grona'] + [f'grona{i}' for i in range(2, 14)]

grapes = []

for row in range(len(data)):
    grape = ''
    for value in data.loc[row, cols]:
        if pd.isnull(value):
            break

        grape += value + ', '

    if grape == '':
        grapes.append(np.nan)
    else:
        grapes.append(grape[:-2])
    
data['grapes'] = pd.DataFrame({'grapes': grapes})
data.drop(cols, axis=1, inplace=True)

# Appellation

Related columns: `apelacja`

In [ ]:
data['apelacja'].replace('- brak apelacji', np.nan, inplace=True)